<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorate="~{layout-sub-menu}">

<title>Administration des sites prestataires</title>
</head>
<body>
<div layout:fragment="subMenu" class="sidebar-sticky">
    <th:block th:insert="~{ common/fragment/administration :: subMenuPrestataire  }"></th:block>
</div>

<div layout:fragment="content">

    <th:block th:insert="~{ common/fragment/common :: mainTitle( 'Liste des sites prestataire', '/sitePrestataire/add')  }"></th:block>

    <!---  début de th:fragment="content" ----------------------------------------------------->
    <div  >
        <div class="alert alert-info text-center" role="alert" th:if="${  sitePrestataireBeanList.size() == 0}">
            Aucun site prestataire à afficher
        </div>
        <div  class="card my-1  col-12" th:if="${ sitePrestataireBeanList.size() > 0}">
            <div class="card-body" >

                <div class="container my-1 " >
                    <div class="col-md-12">
                        <table class="table table-striped table-responsive-md table-sm"
                               id="tableSitePrestataire"
                               data-toggle="table"
                               data-pagination="true">
                            <thead>
                            <tr>
                                <th scope="col" data-field="sitePrestaireId" data-sortable="true" data-width="30" >#</th>
                                <th scope="col" data-field="sitePrestataireName" data-sortable="true" >Nom du site</th>
                                <th scope="col" data-field="sitePrestataireEntreprise" data-sortable="true" >Entrepise</th>
                                <th scope="col" data-field="sitePrestataireCodeZs" data-sortable="true" >Code ZS</th>
                            </tr>
                            </thead>

                            <tbody>

                            <tr th:each="s : ${sitePrestataireBeanList}" >
                                <td th:text="${s.id}" class="text-center"  > &nbsp;</td>
                                <td >
                                    <a th:href="@{/sitePrestataire/edit/{id}(id=${s.id})}" th:text="${s.name}"  ></a>
                                </td>
                                <td th:text="${s.entreprise.name}"></td>
                                <td th:text="${s.codeZs}"></td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-------------------------------  fin de div.row : Description --------------------------->


</div>

</body>
</html>