<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorate="~{layout}">

<title>Ajout d'un bulletin</title>
</head>
<body>

<div layout:fragment="content" th:object="${managementVisuelBean}" th:with="fileNameMV = ${ @plugin.getFileName( managementVisuelBean.id, 'Sélectionner un visuel' )}">
    <th:block th:insert="~{ agence/fragment :: contentUpdate(  'Modification du management visuel','/managementVisuel/update/' + ${ managementVisuelBean.id} ) }"></th:block>
</div>

</body>
</html>