<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorate="~{layout-sub-menu}">

<title>Administration des sites Entreprise</title>
</head>
<body>
<div layout:fragment="subMenu" class="sidebar-sticky">

    <th:block th:insert="~{ common/fragment/administration :: subMenuEntreprise  }"></th:block>


</div>
<div layout:fragment="content" th:with="userFn = ${@userEntrepriseFunction}">
    <th:block th:insert="~{ common/fragment/common :: mainTitle( 'Liste des utilisateurs', '/entreprise/user/add')  }"></th:block>

    <div  >
        <div class="alert alert-info text-center" role="alert" th:if="${  userEntrepriseBeanList.size() == 0}">
            Aucun utilisateur à afficher
        </div>
        <div  class="card my-1 offset-1  col-10" th:if="${ userEntrepriseBeanList.size() > 0}">
            <div class="card-body" >

                <div class="container my-1 " >
                    <div class="col-md-12">
                        <table class="table table-striped table-responsive-md table-sm"
                               id="tableUserEntreprise"
                               data-toggle="table"
                               data-search="true"
                               data-show-search-clear-button="true"
                               data-pagination="true">
                            <thead>
                            <tr>
                                <th scope="col" data-field="userNni" data-sortable="true" class="text-center"  >Nni</th>
                                <th scope="col" data-field="userName" data-sortable="true" class="text-center" >Nom</th>
                                <th scope="col" data-field="roleName" data-sortable="true" class="text-center" >Rôle</th>
                                <th scope="col" data-field="dateCreate" data-sortable="true" class="text-center" >Création</th>
                                <th scope="col" data-field="dateLastConnexion" data-sortable="true" class="text-center" >Dernière Connexion</th>
                                <th scope="col" data-field="status" data-sortable="true" class="text-center" >Status</th>
                                <th scope="col" data-field="accountStatusExpired" data-sortable="true" class="text-center" >Expiration</th>
                                <th scope="col" data-field="accountStatusBlocked" data-sortable="true" class="text-center" >Compte</th>
                            </tr>
                            </thead>

                            <tbody>

                            <tr th:each="u : ${userEntrepriseBeanList}" >
                                <td >
                                    <a th:href="@{/entreprise/user/edit/{nni}(nni=${u.nni})}" th:text="${u.nni}"  ></a>
                                </td>
                                <td th:text="${u.firstName + ' '+ u.lastName}" class="text-center"  > &nbsp;</td>
                                <td th:text="${ u.role.libelle }" class="text-center"  > &nbsp;</td>
                                <td th:text="${userFn.getDateTime( u.dateCreate )}" class="text-center">&nbsp;</td>
                                <td th:text="${userFn.getDateTime( u.lastConnection )}" class="text-center">&nbsp;</td>
                                <td class="text-center">
                                    <span class="badge badge-pill badge-success" th:if="${u.enabled}">Actif</span>
                                    <span class="badge badge-pill badge-danger" th:if="${!u.enabled}">Inactif</span>
                                </td>
                                <td class="text-center">
                                    <span class="badge badge-pill badge-success" th:if="${u.accountNoExpired}">Non expiré</span>
                                    <span class="badge badge-pill badge-danger" th:if="${!u.accountNoExpired}">Expiré</span>
                                </td>
                                <td class="text-center">
                                    <span class="badge badge-pill badge-success" th:if="${u.accountNoLocked}">Non bloqué</span>
                                    <span class="badge badge-pill badge-danger" th:if="${!u.accountNoLocked}">Bloqué</span>

                                </td>

                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>