<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorate="~{layout}">

<title>Ajout d'un bulletin</title>
</head>
<body>

    <div layout:fragment="content" th:object="${bulletinBean}" th:with="fileNameBulletin = ${  'Sélectionner un bulletin' }">

        <th:block th:insert="~{ qualite/fragment :: content(  'Ajout : '+ ${typeBulletin.code },'/qualite/save/' + ${typeBulletin} ) }"></th:block>
    </div>

</body>
</html>