<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
</head>
<body>
<!---  début de th:fragment="siteContent" ----------------------------------------------------->
<form th:fragment="content( title, action)" action="#" th:action="${ action }"  method="post"  class="needs-validation" >

    <th:block th:insert="~{common/fragment/common :: titleH4( ${title } ) }"></th:block>


    <th:block th:insert="~{common/fragment/common :: contentError }"></th:block>

    <div class="my-3 p-1 bg-white rounded box-shadow">
        <!-------------------- fin de div.row : ---------------->
        <div class="row">
            <div class="input-group input-group-lg col-md-5 mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text">Nom du type de site Entreprise</label>
                </div>
                <input type="text" th:field="*{name}" class="form-control"  id="name" />
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-outline-primary m-2">Valider</button>
</form>

</body>
</html>